+++
title = "Peridyno"
linkTitle = "Peridyno"

+++

{{< blocks/cover title="智能仿生物理引擎" image_anchor="top" height="full" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        帮助文档 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/peridyno/peridyno">
        源码下载 <i class="fab fa-github ml-2 "></i>
    </a>
    <p class="lead mt-5"></p>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead %}}
Peridyno是一个智能仿生物理引擎。 其支持包括流体、形变体、塑性材料及碎裂在内的多种复杂时变现象的仿真。 Peridyno具备高度模块化，也可用于辅助研发人员开发更先进的物理仿真算法。
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/peridyno/peridyno" %}}
We do a [Pull Request](https://github.com/peridyno/peridyno) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
